# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
gmail-oauth/client_secret.json
gmail-oauth/token.json

# Logs
logs/
*.log

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# MacOS
.DS_Store

# Electron
desktop/node_modules/
desktop/dist/
desktop/build/
desktop/.electron-builder.cache/
desktop/out/
desktop/coverage/
desktop/npm-debug.log*
desktop/yarn-debug.log*
desktop/yarn-error.log*
desktop/package-lock.json

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?